# This file is used to configure npm settings for the project
# Use the legacy peer dependencies resolution strategy
# This is useful for projects that have dependencies with peer dependencies that are not compatible with the latest npm versions
# It allows the installation of packages that have peer dependencies that are not met by the current project
# Namely React 19 and ReactDOM versions
legacy-peer-deps=true